a{
  font-family: "Ubuntu", sans-serif;
}

ul {
    list-style-type: none;
    flex-basis: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    padding: 25px;
}



nav a,
nav a:visited {
    text-decoration: none;
}

li:hover {
    color: #cc9900;
    filter: drop-shadow(0 0 2em #9900cc);
}


.active-link {
    text-decoration: underline;
}

.default-link {
    text-decoration: none;
}

li {
    color: #9900cc;
    filter: drop-shadow(0 0 2em #cc9900);
}