

code {
    font-size: 1.2em;
    color: #9900cc;
    background-color: #cc9900;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-family: "Courier New", monospace;
    white-space: pre-wrap;
    word-break: break-word;
    display: block;
    overflow-x: auto;
    margin-bottom: 2em;
    margin-top: 3em;
}

